In [18]:
import numpy as np
import pandas as pd
import gmaps
import gmaps.datasets
import warnings
from opencage.geocoder import OpenCageGeocode
warnings.filterwarnings("ignore")

gmaps.configure(api_key=API_KEY)
gm=gmaps.Client(key=API_KEY)

In [22]:
df2=pd.read_csv('/Users/new/Desktop/new/states.csv')

In [23]:
states=df2[['latitude','longitude']]

In [24]:
value=df2['weight']

In [25]:
df2.head()

   S.No        name name_capital   latitude   longitude  weight
0     1     Alabama   Montgomery  32.377716  -86.300568       1
1     2      Alaska       Juneau  58.301598 -134.420212       1
2     3     Arizona      Phoenix  33.448143 -112.096962       1
3     4    Arkansas  Little Rock  34.746613  -92.288986       1
4     5  California   Sacramento  38.576668 -121.493629       1

In [26]:
heatmap_layer=gmaps.heatmap_layer(states,value,dissipating=True)
heatmap_layer.max_intensity=5
heatmap_layer.point_radius=15
fig=gmaps.figure()
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
key=open_cage
geocoder=OpenCageGeocode(key)

In [ ]:
df=pd.read_csv('/Users/new/Desktop/new/example.csv')

list_lat = []   # create empty lists

list_long = []


for index, row in df.iterrows(): # iterate over rows in dataframe



    City = row['City']
    State = row['State']       
    query = str(City)+','+str(State)

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    list_lat.append(lat)
    list_long.append(long)

# create new columns from lists    

df['lat'] = list_lat   

df['lon'] = list_long

In [39]:
df.head()

     State          City  Residuals        lat        lon
0  Alabama        Oakman   -38979.2  33.713443 -87.388616
1  Alabama       Ashford     1607.5  31.182956 -85.236321
2  Alabama       Ashland   -18081.0  33.273726 -85.836074
3  Alabama  Shorterville   -43285.6  31.570169 -85.101319
4  Alabama   Clayhatchee   -38837.5  31.235729 -85.722712

In [41]:
states=df[['lat','lon']]

In [42]:
value=df['Residuals']

In [51]:
value=1+df['Residuals']/1000000

In [ ]:
df.head()

In [53]:
heatmap_layer=gmaps.heatmap_layer(states,value,dissipating=True)
heatmap_layer.max_intensity=5
heatmap_layer.point_radius=15
fig=gmaps.figure()
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))